<aside class="main-sidebar">
  <section class="sidebar">
    <ul class="sidebar-menu">
      <li class="header">MENU</li>
      <!-- <li routerLinkActive="active">
        <a href="javascript:void(0)" routerLink="dashboard">
            <i class="fa fa-dashboard"></i> <span>Beranda</span>
          </a>
      </li> -->
      <li routerLinkActive="active">
        <a href="javascript:void(0)" routerLink="profile">
          <i class="fa fa-address-card"></i>
          <span>Profile</span>
        </a>
      </li>
      <li routerLinkActive="active">
        <a href="javascript:void(0)" routerLink="event">
          <i class="fa fa-calendar"></i>
          <span>Event</span>
        </a>
      </li>
      <li routerLinkActive="active">
        <a href="javascript:void(0)" routerLink="paslon">
          <i class="fa fa-users"></i>
          <span>Paslon</span>
        </a>
      </li>
      <li routerLinkActive="active">
        <a href="javascript:void(0)" routerLink="tahapan">
          <i class="fa fa-th-list"></i>
          <span>Tahapan</span>
        </a>
      </li>
      <li routerLinkActive="active">
        <a href="javascript:void(0)" routerLink="jadwal">
          <i class="fa fa-clock-o"></i>
          <span>Jadwal</span>
        </a>
      </li>
      <!-- <li routerLinkActive="active" class="treeview" id="menu-master">
        <a href="javascript:void(0)">
            <i class="fa fa-list"></i>
            <span>Master Data</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
        <ul class="treeview-menu">
          <li routerLinkActive="active"><a id="menu-profile" href="javascript:void(0)" routerLink="profile"><i class="fa fa-circle-o"></i> Profile</a></li>
          <li routerLinkActive="active"><a id="menu-event" href="javascript:void(0)" routerLink="event"><i class="fa fa-circle-o"></i> Event</a></li>
          <li routerLinkActive="active">
            <a id="menu-pendidikan" href="javascript:void(0)" routerLink="pendidikan">
              <i class="fa fa-circle-o"></i> Pendidikan</a>
          </li>
        </ul>
      </li> -->
  <!--     <li routerLinkActive="active" class="treeview" id="menu-laporan">
        <a href="javascript:void(0)">
            <i class="fa fa-list"></i>
            <span>Laporan</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
        <ul class="treeview-menu">
          <li routerLinkActive="active"><a id="menu-laporan" href="javascript:void(0)" routerLink="laporan"><i class="fa fa-circle-o"></i>Status Pengadaan</a></li>
        </ul>
      </li> -->
    </ul>
  </section>
</aside>